# Executabile Windows
*.exe
*.out

# Fisiere obiect si de build
*.o
*.obj
*.a
*.lib

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
ipch/
x64/
x86/
Debug/
Release/

# CLion / CMake
.idea/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
*.cmake

# Date salvate ale aplicatiei (generate la runtime)
date.txt
